certifi==2021.10.8
charset-normalizer==2.0.12
conda==4.3.16
distlib==0.3.4
Django==2.2.19
filelock==3.4.2
idna==3.3
pipenv==2022.1.8
platformdirs==2.5.0
pycosat==0.6.3
pytz==2021.3
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sqlparse==0.4.2
urllib3==1.26.8
virtualenv==20.13.1
virtualenv-clone==0.5.7
